<div id="rangepricemodule_block" class=" modal  fade  block" style="background: #fff;display:none;width: 500px;
    text-align: center;
    left: 33%;">
<h3>Количество товаров </h3>
  <div class="block_content">

		<div class="item">{$mess2}</div>

  </div>
</div>

<div style="display: none" class="layer  h2 hidden-sm-down" data-toggle="modal" data-target="#rangepricemodule_block">
ссылка
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script>
	jQuery(document).ready(function(){

		jQuery('.h2').trigger('click');});

</script>